/*@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);*/
body{
	margin: 0px;
	padding: 0px;
	background: #948d02 url('images/image_00.png') repeat;
	/*font: 700 14px 'Bitter';*/
	font: italic x-large/1.75 "Essays 1743", "Marker Felt", "Kristen ITC", "Viner Hand ITC", "Lucida Handwriting", Amienne, Boopee, "Segoe Print", "Times New Roman", serif;
	line-height: 1;
	color: #333;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.6), 1px 1px 0px rgba(0,0,0,0.8);
}
h1 {
	margin: 5px auto;
	text-align: center;
	font-size: 1.8em;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555;
	color: #EBDAA5;
	border-bottom: 1px solid;
}
#MindGameWrapper{
	width: 100%;
	height: 100%;
	position: fixed;
}
#MGMenu{
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.68);
}
.MGStart{
	margin: auto;
	max-width: 480px;
	width: 99%;
	max-height: 512px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 5px;
	border-radius: 2%;
	z-index: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
	background-color: #000000;
	-moz-box-shadow: inset 0 0 15px #000000;
	-webkit-box-shadow: inset 0 0 15px #000000;
	box-shadow: inset 0 0 15px #000000;
	border-bottom: 1px solid #777055;
	text-align: center;
	text-shadow: 0px 1px 0px #000000;
	color: #fff;
	-webkit-transform: rotateY(0deg);
			 -moz-transform: rotateY(0deg);
						transform: rotateY(0deg);
}
.MGStart.next{
	-webkit-transform: rotateY(-90deg) translateZ(100px);
			 -moz-transform: rotateY(-90deg) translateZ(100px);
						transform: rotateY(-90deg) translateZ(100px);

		-webkit-transform-style: preserve-3d;
			 -moz-transform-style: preserve-3d;
						transform-style: preserve-3d;

		-webkit-backface-visibility: hidden;
			 -moz-backface-visibility: hidden;
						backface-visibility: hidden;

		/* -- transition is the magic sauce for animation -- */
		-webkit-transition: all .4s ease-in-out;
						transition: all .4s ease-in-out;
}
.MGStart.next.page2{
	-webkit-transform: rotateY(-360deg) translateZ(100px);
			 -moz-transform: rotateY(-360deg) translateZ(100px);
						transform: rotateY(-360deg) translateZ(100px);

		-webkit-transform-style: preserve-3d;
			 -moz-transform-style: preserve-3d;
						transform-style: preserve-3d;

		-webkit-backface-visibility: hidden;
			 -moz-backface-visibility: hidden;
						backface-visibility: hidden;

		/* -- transition is the magic sauce for animation -- */
		-webkit-transition: all .4s ease-in-out;
						transition: all .4s ease-in-out;
}

.MGMenuWrapper{
	background-color: #050505;
	border-radius: 2%;
}
.rbDivWrapper{
    background-image: url('radiobtnbg.png');
    background-size: cover;
}

#MGPlayerName
{
	width:94%;
	font:italic xx-large/1.75 "Essays 1743", "Marker Felt", "Kristen ITC", "Viner Hand ITC", "Lucida Handwriting", Amienne, Boopee, "Segoe Print", "Times New Roman", serif;
	margin: 2%;
	border-radius: 5px;
	background-color: #3b3824;
	-moz-box-shadow: inset 0 0 15px #000000;
	-webkit-box-shadow: inset 0 0 15px #000000;
	box-shadow: inset 0 0 15px #000000;
	text-align: center;
	text-shadow: 2px 2px 0px #000;
	color: #fff;
}
input[type=radio].MGStart{	display: none; }
input[type=radio].MGStart + label.rbLabel
{
	display: block;
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
	margin-bottom: 4px;
	-webkit-transition: background-position 1s ease-in-out;
	-moz-transition: background-position 1s ease-in-out;
	-ms-transition: background-position 1s ease-in-out;
	-o-transition: background-position 1s ease-in-out;
	transition: background-position 1s ease-in-out;
}
input[type=radio].MGStart:checked + label.rbL1{	background-position: 0 -40px; }
input[type=radio].MGStart:checked + label.rbL2{	background-position: 0 -60px; }
input[type=radio].MGStart:checked + label.rbL3{	background-position: 0 -90px; }

label.rbLabel {
	background-image:url('radiobtn1.png');
	background-size:100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.MGMenuNext{
	position: absolute;
	bottom: 13px;
	right: 10px;
	border:0;
	border-top: 1px solid #6e6e6c;
	border-left: 1px solid #6e6e6c;
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#101112), to(#000));
	background: -webkit-linear-gradient(top, #101112, #000);
	background: -moz-linear-gradient(top, #101112, #000);
	background: -ms-linear-gradient(top, #101112, #000);
	background: -o-linear-gradient(top, #101112, #000);
	padding: 6px 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(5,6,7,1) 0 1px 0;
	-moz-box-shadow: rgba(5,6,7,1) 0 1px 0;
	box-shadow: rgba(5,6,7,1) 0 1px 0;
	font:italic x-large/1.75 "Essays 1743", "Marker Felt", "Kristen ITC", "Viner Hand ITC", "Lucida Handwriting", Amienne, Boopee, "Segoe Print", "Times New Roman", serif;
	text-shadow: rgba(5,6,7,.4) 0 1px 0;
	font-size: 1.2em;
	color:#eee;
}
.MGMenuNext:hover{
	background: #000;
	color: #fff;
}
#MGGoButton {
	background: -moz-linear-gradient(
		top,
		#948d02 0%,
		#dbb966 50%,
		#948d02);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#948d02),
		color-stop(0.50, #dbb966),
		to(#948d02));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(14,33,110,0.5),
		inset 0px 0px 1px rgba(12,87,199,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(14,33,110,0.5),
		inset 0px 0px 1px rgba(12,87,199,0.7);
	box-shadow:
		0px 1px 3px rgba(14,33,110,0.5),
		inset 0px 0px 1px rgba(12,87,199,0.7);
	text-shadow:
		0px 1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
	display: inline-block;
	color: #ffffff;
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
	height: 53px;
	line-height: 53px;
	width: 220px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px -1px 0px #590606;
	cursor: pointer;
}

#MindGameScore{
	max-width: 667px;
	width: 90vmin;
	height: 3vmin;
	background-color: rgba(34,34,34,0.68);
	border: 2px solid;
	/*position: fixed;*/
	right: 10px;
	left: 10px;
	padding: 5px 1px;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.9);
	margin: 1% auto;
	-webkit-transition:padding 300ms ease-in-out;
    -moz-transition:padding 300ms ease-in-out;
    -o-transition:padding 300ms ease-in-out;
    transition:padding 300ms ease-in-out;
}
#MindGameScore.sortingAnimation{padding:2vmin 0;}
#MindGameScore.currentScore{background-color: blue;}

.MGscore
{
	width: 15%;
	font-size: 3vmin;
	color: greenyellow;
	float: left;
}
#MGname{width:55%;}
#MGscore{text-align: center;}
#MGtimer{text-align: center;}
#MGclicks{text-align: right;}

	#MindGame{
        /*width: 100%;
        height: 100%;
        position: fixed;
        left:0;
        top:0;
        */
        width: 90vmin;
        height: 90vmin;
        max-height: 667px;
        max-width: 667px;
        position: fixed;
		top: 10px;
		bottom: 10px;
		left: 10px;
		right: 10px;
		background: rgba(34,34,34,0.68);
		margin: 5% auto;
		padding: 1%;	
		border-radius: 5px;
		border: 2px solid;
    }
.MindGameNode {
		float: left;
		margin: 0px;
		position: relative;
		font-size: .8em;

		-webkit-perspective: 600px;
		-moz-perspective: 600px;
		perspective: 600px;
	}

	.MindGameNode.easy{	width:25%; height: 25%}
	.MindGameNode.medium{ width: 16.66%; height: 16.66% ;}
	.MindGameNode.hard{ width: 12.5%; height:12.5%;}

	.MindGameNode .front {
		float: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 900;
		width: 100%;
		height: 100%;
		border: 1px solid #ccc;
		background: #6b7077;
		text-align: center;
		box-shadow: 0 1px 5px rgba(0,0,0,0.9);

		-webkit-transform: rotateX(0deg) rotateY(0deg);
			 -moz-transform: rotateX(0deg) rotateY(0deg);
						transform: rotateX(0deg) rotateY(0deg);

		-webkit-transform-style: preserve-3d;
			 -moz-transform-style: preserve-3d;
						transform-style: preserve-3d;

		-webkit-backface-visibility: hidden;
			 -moz-backface-visibility: hidden;
						backface-visibility: hidden;

		/* -- transition is the magic sauce for animation -- */
		-webkit-transition: all .4s ease-in-out;
						transition: all .4s ease-in-out;
	}
	.MindGameNode.reveal .front {
		z-index: 900;
		border-color: #eee;
		background: #333;
		box-shadow: 0 15px 50px rgba(0,0,0,0.2);

		-webkit-transform: rotateY(180deg);
			 -moz-transform: rotateY(180deg);
						transform: rotateY(180deg);
	}

	.MindGameNode .back {
		float: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 800;
		width: 100%;
		height: 100%;
		border: 1px solid #ccc;
		background: #333;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.6);

		-webkit-transform: rotateY(-180deg);
			 -moz-transform: rotateY(-179deg); /* setting to 180 causes an unnatural-looking half-flip */
						transform: rotateY(-179deg);

		-webkit-transform-style: preserve-3d;
			 -moz-transform-style: preserve-3d;
						transform-style: preserve-3d;

		-webkit-backface-visibility: hidden;
			 -moz-backface-visibility: hidden;
						backface-visibility: hidden;

		/* -- transition is the magic sauce for animation -- */
		-webkit-transition: all .4s ease-in-out;
						transition: all .4s ease-in-out;
	}

	.MindGameNode.reveal .back {
		z-index: 1000;
		background: #80868d;

		-webkit-transform: rotateX(0deg) rotateY(0deg);
			 -moz-transform: rotateX(0deg) rotateY(0deg);
						transform: rotateX(0deg) rotateY(0deg);

		box-shadow: 0 15px 50px rgba(0,0,0,0.2);
	}

	.click .front {
		cursor: pointer;
		-webkit-transform: rotateX(0deg);
			 -moz-transform: rotateX(0deg);
						transform: rotateX(0deg);
	}
	.click.reveal .front {
		-webkit-transform: rotateX(180deg);
			 -moz-transform: rotateX(180deg);
						transform: rotateX(180deg);
	}
	.click .back {
		cursor: pointer;
		-webkit-transform: rotateX(-180deg);
			 -moz-transform: rotateX(-180deg);
						transform: rotateX(-180deg);
	}
	.click.reveal .back {
		-webkit-transform: rotateX(0deg);
			 -moz-transform: rotateX(0deg);
						transform: rotateX(0deg);
	}

	/* -- diagonal axis rotation -- */
	.diagonal .front {
		-webkit-transform: rotate3d(45,45,0,0deg);
			 -moz-transform: rotate3d(45,45,0,0deg);
						transform: rotate3d(45,45,0,0deg);
	}

	.diagonal.reveal .front,
	.diagonal.reveal .front:hover {
		-webkit-transform: rotate3d(-45,-45,0,150deg);
			 -moz-transform: rotate3d(-45,-45,0,150deg);
						transform: rotate3d(-45,-45,0,150deg);

		-webkit-transition: all .4s ease-in-out;
						transition: all .4s ease-in-out;
	}

	.diagonal .back {
		-webkit-transform: rotate3d(45,45,0,-180deg);
			 -moz-transform: rotate3d(45,45,0,-180deg);
						transform: rotate3d(45,45,0,-180deg);
	}
	.diagonal.reveal .back {
		-webkit-transform: rotate3d(45,45,0,-30deg);
			 -moz-transform: rotate3d(45,45,0,-30deg);
						transform: rotate3d(45,45,0,-30deg);
	}

#MindGame p{
	margin: 0;
	font-size: 3vw;
	float: left;
	display: block;
	width: 50%;
	height: 13vmin;
	padding-left: 3%;
}
.buttonPost{
	width: 13vmin;
	height: 13vmin;
	float: right;
	border:none;
	-webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    transition:width 300ms ease-in-out, height 300ms ease-in-out;
}
.buttonPost:hover{
	width: 12vmin;
	height: 12vmin;
}
#fb{background: url('fb.png');background-size: cover;}
#tw{background: url('tw.png');background-size: cover;}